body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    align-items: flex-start;
}

.title {
    width: 100%;
    background: #bbb;
    text-align: center;
    padding: 10px 0;
}

.main {
    display: flex;
    flex: 1;
    width: 100%;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu a.active {
    color: red;
    text-decoration: none;
}

.menu .group {
    margin-top: 2px;
}

.menu ul {
    list-style-type: none;
    padding-left: 0;
}

.menu li {
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.menu h4 {
    margin-bottom: -10px;
}

.menu {
    background: #f0f0f0;
    height: 100%;
    width: 350px;
    padding-left: 20px;
    overflow: auto;
}

.content {
    flex: 3;
    height: 100%;
    overflow: auto;
}

.submenu {
    display: none;
}